@model GamesIndexViewModel

@if (Model.Errors.Count() > 0)
{   
    foreach(var error in Model.Errors)
    {
        <p class="text-danger">@error</p>
    }
}
<table class="table table-responsive-md table-hover">
    <tr><th>Game</th></tr>
    @foreach(var game in Model.Games)
    {
        <tr>
            <td>@game.Name</td>
        </tr>
    }

</table>

