@model GenresIndexViewModel

@if (Model.Errors.Count() > 0)
{   
    foreach(var error in Model.Errors)
    {
        <p class="text-danger">@error</p>
    }
}
<table class="table table-responsive-md table-hover">
    <tr><th>Genre</th></tr>
    @foreach(var genre in Model.Genres)
    {
        <tr>
            <td>@genre.Name</td>
        </tr>
    }

</table>

